.textAreaDiv {
    display: flex;
    flex-direction: column;
}

textarea {
    min-height: 100px;
    height: auto;
}


.filtrosTitle {
    text-align: center;
}

.filtrosDiv {
    display: flex;
    justify-content: space-around;
}

.extraerNumerosButton {
    margin-top: 20px;
    margin-bottom: 20px;
    height: 40px;
}